<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab4" text="返回"></ion-back-button>
      </ion-buttons>
      <ion-title>d09</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="position: fixed;z-index: 99999;">
    <ion-button (click)='click1()' size="small">单点沿线运动</ion-button>
    <ion-button (click)='click2()' size="small">多点沿线运动</ion-button>
  </div>
  <div id="bdmap" style="height: 100%; width: 100%"></div>
  <div id="r-result"></div>
</ion-content>
