<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>a04</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-toolbar>
    <ion-segment value="data">
      <ion-segment-button value="data" (click)='click1()'>
        JavaScript的用法
      </ion-segment-button>
      <ion-segment-button value="array" (click)='click2()'>
        TypeScript的用法
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <br/>
  <div id='mydiv'></div>
</ion-content>
