// app-b02 {
//   .p1 {
//       font-size: 14px;
//       color: red;
//   }
//   .p2 {
//       font-size: 25px;
//       color: green;
//   }
// }

.p1 {
  font-size: 14px;
  color: red;
}

.p2 {
  font-size: 25px;
  color: green;
}
