<ion-header>
  <ion-toolbar>
    <ion-title>d04</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
      <button (click)='click1()'>文字标注</button>
      <button (click)='click2()'>动画标注</button>
      <button (click)='click3()'>点标注</button>
      <button (click)='click4()'>多点标注</button>
  </div>
  <div style='margin:5px 0 5px 0;'>
      <button (click)='click5()'>添加多点文字标注</button>
      <button (click)='click6()'>删除id为1的文字标注</button>
  </div>
  <div id="bdmap" style="height: 100%; width: 100%"></div>
</ion-content>
