<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab4" text="返回"></ion-back-button>
        </ion-buttons>
        <ion-title>【D04】标注</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div  style="position: fixed;z-index: 99999;">
        <ion-button size="small" (click)='click1()'>文字标注</ion-button>
        <ion-button size="small" (click)='click2()'>动画标注</ion-button>
        <ion-button size="small" (click)='click3()'>点标注</ion-button>
        <ion-button size="small" (click)='click4()'>多点标注</ion-button>
    </div>
    <div style='top:75px;position: fixed;z-index: 99999;'>
        <ion-button size="small" (click)='click5()'>添加多点文字标注</ion-button>
        <ion-button size="small" (click)='click6()'>删除id为1的文字标注</ion-button>
    </div>
    <div id="bdmap" style="height: 100%; width: 100%"></div>
</ion-content>
