<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>BaiduMap </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding>
    <ion-list>
        <ion-item>
            <ion-button (click)="showPage1()">D01-地图和控件</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage2()">D02-覆盖物</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage3()">D03-信息窗口</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage4()">D04-标注</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage5()">D05-全景图与地址解析</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage6()">D06-定位</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage7()">D07-公交查询与位置检索</ion-button>
        </ion-item>
        <ion-item>
            <ion-button (click)="showPage8()">D08-路线规划与距离计算</ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="showPage9()">D09-GPS导航</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
