<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 10px;width: 90vw;">
    <ion-list>
      <ion-item>
        <ion-button (click)="showPage1()">B01-插值表达式</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="showPage2()">B02-单向绑定</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="showPage3()">B03-双向绑定</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="showPage4()">B04-内置指令</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
