<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <div style="margin: 10px;width: 90vw;">
      <ion-list>
        <ion-item>
          <ion-button color="primary" (click)="showPage1()">a01-hello world</ion-button>
        </ion-item>

        <ion-item>
          <ion-button color="primary" (click)="showPage2()">a02-数据类型、数组、元组</ion-button>
        </ion-item>

        <ion-item>
          <ion-button color="primary" (click)="showPage3()">a03-字符串字面量类型、联合、交叉</ion-button>
        </ion-item>

        <ion-item>
          <ion-button color="primary" (click)="showPage4()">a04-function与箭头函数</ion-button>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>

