<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHerf="tabs/tab2" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>b01</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div><button (click) = 'click1'>1-1 xxxx</button></div>
  <br>
  <div><button (click) = 'click1'>1-2 xxxx</button></div>
  <br>
  <div id="mydiv"></div> -->
  <div class="mydiv" style="margin: 20px;">
    <p>
      显示系统时间：
      <br>
      {{current}}
    </p>
    <p style="font-size: 14px;">
      Angular是一种以【组件】为中心的架构，而不是以HTML为中心。
    </p>
  </div>
</ion-content>
